=render partial: 'prototypes/prototype_header', locals: {type: 1}
.container.proto-list
  .row
    =render partial: 'prototypes/prototype', collection: @prototypes
.text-center
  =paginate(@prototypes)
